body{
    background-color: rgb(255, 0, 0);
    text-align: center;
    font-family:'Times New Roman', Times, serif;

    

}


@font-face {
    font-family: "infini";
    src: url("infini-gras.woff")
}

h1{
    font-family:"infini";
    margin-top: 20%;
    font-size: 60px;
    text-align: center;
    border: black;
    border-radius: 100%
}



paragraph1{ 
    font-size: xx-small;
    border-left: 6px;
  
}