body{
    background-color: blueviolet;
    margin:0px;
    font-size: 36px;
}

img{
    width:100%;

}
div.row {
display:flex;
flex-wrap:wrap;
}

@keyframes color-animation{ 
    0% {background-color: black;}
    50% { background-color: blueviolet;}
    70% { background-color: blue;}
    100% { background-color: rgb(255, 0, 0);}
}

div.animated-row{
    animation: color-animation 1s infinite;
}

div.col {
    outline:0px solid rgb(255, 255, 255);
    height:600px;
}


@keyframes color-animation2{ 
    0% {background-color: black;}
    50%{ background-color: white;}
    100%{ background-color: black;}
}

div.animated-row2{ 
    animation: color-animation2 2s infinite;
}

div.width100{
    width:100%;
}

div.width80{
    width:80%:
}

div.width75{
    width:75%;

}

div.width66{
    width:66.666%;

}

div.width50{
    width:50%;

}

div.width40{
    width:40%;
}

div.width60{
    width:60;
}

div.width33 {
    width:33.333%;
}

div.width25{
    width:25%;
}

div.width20{
    width:20%;
}

div.bgred {
    background-color: red;
}

div.bgbisque{
    background-color: rgb(0, 0, 0);
}

div.bgpink{
    background-color: blueviolet;
}

div.bgblack{ 
    background-color: black;
}

div.header{ 
    color: white;

}


div.menu{
    position:fixed;
    background-color: rgba(255, 255, 255, 0.432);
    color: white;
}

div.open{
    color: red;
}

div.newmessage{
    color: red;
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
}
    
div.upwards-text{
    color: white;
    transform: rotate(-90deg);
    transform-origin: left top;
    white-space: nowrap;
    font-size: 100%;
}



div.label{
    font-family: Arial, Helvetica, sans-serif;
    border: 5px solid grey;
    padding: 5px ; 
    display: inline-block;
}

div.number{
    padding: 5px;
    display: inline-block;
    background-color: red;
    color: white;
    border-radius: 100%;
}

div.label2{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    border-width: 0;
    padding: 5px;
    display: inline-block;
    color: white;
    border: 7px solid grey;
   
}

div.number2{
font-family: 'Courier New', Courier, monospace;
border-radius: 50%;
display: inline-block;
background-color: red;
padding: 6px;

}

div.label{
    color: white;
    border: 5px solid grey;
}

div.label3{ 
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    display: inline-block;
    border: 5px solid grey;

}

div.number3{ 
    font-family:'Times New Roman', Times, serif; 
    border-radius: 50%;
    background-color: blue;
    display: inline-block;
    padding: 8px;

}


div.label4{ 
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    display: inline-block;
    border: 2px solid grey;
}

div.number4{ 
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 0%;
    background-color: blue;
    display: inline-block;
    padding: 10px;
}

div.clickme{
    color: white;
    outline: white;
    align-content: center;
}

div.ending{
    text-align: center;
    color: white;
}